


<section id="footer">
  <div class="mydetails">

    <a href="https://www.linkedin.com/in/riya-kushwaha-2103b3146/">
    <i class="fab fa-linkedin social-icon"></i></a>
    <a href="https://mailto:reakushwaha@gmail.com/">
    <i class="fas fa-envelope social-icon"></i></a>
    <a href="https://github.com/riyakushwaha/">
    <i class="fab fa-github social-icon"></i></a>
    <a href="https://www.facebook.com/riya.kushwaha.315865/">
    <i class="fab fa-facebook-f social-icon"></i></a>
    <a href="https://www.instagram.com/_riya1008/">
    <i class="fab fa-instagram social-icon"></i></a>

<p> © 2020 Riya Kushwaha</p>
  </div>
<!-- <div class="spacing">

</div> -->
</section>
</div>
<!-- I am starting this project.
C:\Users\DELL PC\Desktop\MYdocs\WebDev\CommandPrompt  -->
  </body>
</html>
