<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Command Prompt Website</title>
    <!-- Google Fonts CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
  <!-- Bootstrap CDN  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <!-- CSS Sheets -->
      <link rel="stylesheet" href="/css/styles.css">
    <!-- Font Awesome Icons CDN  -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

<div class="prompt">

    <div class="nav">
    <a href="/"><div class="circle1"><i class="fas fa-home icon1"></i>   </div></a>
    <a href="/commandprompt"><div class="circle2"><i class="fas fa-terminal icon2"></i></div></a>
    <a href="/instructions"><div class="circle3"><i class="fas fa-question icon3"></i></div></a>
    </div>
