<%- include("partials/header"); -%>

 <section id="main">
<div class="errorbody">

    <p><label><span class="prefix">User@Website~$:</span></label>Error 404. Cannot process your request.</p>
<div class="space">

</div>
    </div>

 </section>

<%- include("partials/footer"); -%>
