<%- include("partials/header"); -%>

 <section id="main">
<div class="mainbody">

<p><span class="prefix">User@Website~$:</span> Hello! I am <span class="colourtext">Riya Kushwaha</span>. I welcome you on my website.
<br><br />
<p>I am an under-graduate pursuing <span class="colourtext">Bacelors in Science</span> from Indraprastha College for Women, University of Delhi with <span class="colourtext">Computer Science</span> as a major subject and Mathematics as minor. I am a hard-working and dedicated person.
I believe in continuous learning and improving myself so I keep on experimenting with new things.</p>
<br><p>I completed an online course on <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/"> The Complete 2020 Web Development Bootcamp by Angela Yu</a> from Udemy which helped me to find out how much I enjoy <span class="colourtext">Web designing</span>. This is my first project and I got this design insipiration from
<a href="https://github.com/man15h">man15h</a> . He also has a website in command prompt format but it is more advance in features. In future, I will try to fill the loop holes.</p>
<br><p>If you would like to get in touch with me, whether it be to know the process of making this website or to give me your suggestions please feel free to <span class="colourtext">contact me</span>. I would be happy to hear from you.</p>
<br><p><span class="colourtext">Thankyou</span> for your time.</p><br /> 


</div>
 </section>

<%- include("partials/footer"); -%>
